{% extends "base.html" %}
{% block content %}

    <div class="login-bg flex justify-center items-center min-h-screen">
        <div class="login-card">

            <h2 class="text-2xl font-bold text-center mb-6">
                Sign In
            </h2>

            {% if messages %}
                {% for message in messages %}
                    <div class="px-3 py-2 bg-green-500 text-white rounded mb-4">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="space-y-4">
                    {{ form }}
                </div>

                <button
                    type="submit"
                    class="signin-btn w-full py-2 mt-4 rounded-lg font-semibold "
                >
                    Change password
                </button>
            </form>

        </div>

</div>
{% endblock content %}